.smaller-text{
  font-size: 12px;
}

.css-input-username {
  width:70%;
  margin-right: 1%;
  font-size: calc(13px + 0.390625vw);
}

.login-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
